* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
